# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DataVisuV2.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Alexa\Documents\Projects\Alessia\Unity\DataVisuV2\.idea\.idea.DataVisuV2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
